<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241182995494-tejs6al5k7a4hsgf382g6cfmv6clqvrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241182995494-tejs6al5k7a4hsgf382g6cfmv6clqvrd</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Dr9Ml_cXNlBPHcjyQj3W_Yi74GiQNIA</string>
	<key>GCM_SENDER_ID</key>
	<string>241182995494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DDRR.FormRegistro</string>
	<key>PROJECT_ID</key>
	<string>fromregistro-eb8cb</string>
	<key>STORAGE_BUCKET</key>
	<string>fromregistro-eb8cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241182995494:ios:42c62b45e30c20e57c62e7</string>
</dict>
</plist>